{% extends 'base.html' %}

{% load humanize %}

{% block head_title %}
{{object}} -
{% endblock head_title %}

{% block content %}
<div class="container my-5">
    <h1>{{object}}</h1>
    <hr>
    <br>
    <div class="row">
        <div class="col">
            <div class="card mx-auto shadow">
                <div class="card-header shadow px-5">
                    <h2 class="fs-3 fw-bold pt-3">
                        {{object}}
                    </h2>
                </div>
                <div class="card-body px-5">
                    <p>
                        ID: {{object.client_id}}
                    </p>
                    <p>
                        name: {{object.client_name}}
                    </p>
                    <p>
                        phone: {{object.phone|default:"N/A"}}
                    </p>
                    <p>
                        gender: {{object.gender|default:"N/A"}}
                    </p>
                    <p>
                        DOB: {{object.dob|default:"N/A"}}
                    </p>
                    <p>
                        NIC: {{object.nic|default:"N/A"}}
                    </p>
                </div>
                <div class="card-footer text-end py-3">
                    <a class="btn btn-sm btn-outline-warning px-5"
                        href="{{object.get_absolute_update_url}}">edit</a>
                </div>
            </div>
        </div>
        <div class="col">

            <div class="card mx-auto shadow">
                <div class="card-header shadow px-5">
                    <h2 class="fs-3 fw-bold pt-3">
                        Issued Licenses
                    </h2>
                </div>
                <div class="card-body px-5">
                    <ol>
                        {% for issued_license in client_issued_license_list %}
                        <li>
                            <a href="{% url 'issued-license-detail' issued_license.pk %}">
                                {{issued_license}}
                            </a>
                        </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}