{% extends 'base.html' %}

{% load humanize %}

{% block head_title %}
Licenses -
{% endblock head_title %}

{% block content %}
<div class="container my-5">
    <div class="mx-auto ">
        <div class="col-lg-8 mx-auto">
            <form action="{% url 'client-search-list' %}"
                method="get">
                <input name="q"
                    class="form-control my-5 rounded-pill shadow py-2"
                    type="text"
                    placeholder="Search for clients by ID, name, phone, NIC... ">
            </form>
        </div>
        <div class="my-3 text-end">
            <a class="text-dark" href="{% url 'issued-license-create' %}">Issue a new license</a>
        </div>
        <hr>
        {% include 'pagination.html' %}
        <div class="table-responsive shadow p-5 bg-light rounded-3">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Clients</th>
                        <th scope="col">License</th>
                        <th scope="col">Location</th>
                        <th scope="col">Year</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in object_list %}
                    <tr>
                        <td>{{object.client}}</td>
                        <td>{{object.license.license}}
                        </td>
                        <td>
                            {{object.location}}
                        </td>
                        <td>
                            {{object.year}}
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td class="text-center"
                            colspan="4">No data</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% include 'pagination.html' %}

    </div>
</div>
{% endblock content %}