{% extends 'base.html' %}

{% load humanize %}

{% block head_title %}
Years -
{% endblock head_title %}

{% block content %}
<div class="container my-5">
    <div class="mx-auto ">
        <div class="table-responsive shadow p-5 bg-light rounded-3">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Years</th>
                        <th scope="col">Issued Licenses</th>
                        <th scope="col">Income</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in object_list %}
                    <tr>
                        <td>{{object.year|title}}</td>
                        <td>XCD${{object.get_issued_licenses_due_per_year|floatformat:2|intcomma|default:"0.00"}}
                        </td>
                        <td>XCD${{object.get_issued_licenses_paid_per_year|floatformat:2|intcomma|default:"0.00"}}
                        </td>
                    </tr>
                    
                
                        
                    {% empty %}
                    <tr>
                        <td class="text-center"
                            colspan="4">No data</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}