{% if request.user.is_authenticated %}

<div class="container">
    <header
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/"
            class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <h1 class="display-4">
                NCA
            </h1>
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="{% url 'license-payment-list' %}"
                    class="nav-link px-2 link-dark">Payments</a></li>
            <li><a href="{% url 'client-list' %}"
                    class="nav-link px-2 link-dark">Clients</a></li>

            <li><a href="{% url 'license-list' %}"
                    class="nav-link px-2 link-dark">Licenses</a></li>
            <li><a href="{% url 'license-list' %}"
                    class="nav-link px-2 link-dark">Issued Licenses</a></li>
        </ul>

        <div class="col-md-3 text-end">

            <a title="your profile"
                href="{% url 'users:profile-detail' request.user.profile.slug %}"
                type="button"
                class="text-decoration-none text-dark me-3">
                <i class="bi bi-person-badge fs-4"></i>
            </a>
            <a href="{% url 'account_logout' %}"
                type="button"
                class="text-decoration-none text-dark">
                <i title="logout"
                    class="bi bi-door-open-fill fs-4"></i>
            </a>

            <!-- <a href="{% url 'account_login' %}"
                type="button"
                class="btn btn-outline-success me-2">login</a>
            <a href="{% url 'account_signup' %}"
                type="button"
                class="btn btn-success">Sign-up</a> -->
            {% endif %}
        </div>
    </header>
</div>